:root {
    --color-primary:#3F2C16;
    --color-secondary: #C6B69E;
    --color-tertiary: #936F22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
}

.container {
    margin: 0 auto;
    width: 80%;
}
html{
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center; 
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 2rem;
}

section {
    padding: 1rem 0;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--color-secondary);
}
/* END OF GENERAL STYLING */

section[id="recipes"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr);   
}

figure[class="recipe-column"] {
    text-align: center;
}
/* END OF INDEX.HTML STYLING */

section[id="instructions"] .container {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(min-content, 1fr)
    minmax(min-content, 1fr);
}

.listed-items {
    padding: 1rem 1rem;
}

.listed-items li {
    padding: 0.5rem;
}
section[id="directions"] article {
    padding: 1rem 0;
}
/* END OF SMALL SCREEN STYLING */

@media screen and (min-width: 1024px) {
    section[id="recipes"] .container {
        grid-template-columns:repeat(2, 1fr);
    }
    
    figure[class="recipe-column"] {
        padding: 1.5rem;
    }
    section[id="description"] img {
        width: 50%;
    }

}